Repository winstonsolutions/assignment12: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm test -- --findRelatedTests --passWithNoTests

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "npm test -- --findRelatedTests --passWithNoTests"
  ],
  "*.{json,css,md,html}": ["prettier --write"]
}

test
  .lintstagedrc.json
Due: prettier --write

can pass test
  package-lock.json
  package.json
  src/App.test.jsx
Due: prettier --write, eslint --fix, npm test -- --findRelatedTests --passWithNoTests

update readme
  README.md
Due: prettier --write

can make docker image
  .dockerignore
  Dockerfile
  entrypoint.sh
  package-lock.json
  package.json
  vite.config.js
Due: prettier --write, eslint --fix, npm test -- --findRelatedTests --passWithNoTests

add code-quality.yml
  .github/workflows/code-quality.yml
  package.json
Due: prettier --write

add lock.json
  package-lock.json
Due: prettier --write

update lint
  .eslintrc.cjs
  .github/workflows/code-quality.yml
Due: none

test
  .github/workflows/code-quality.yml
Due: none

update eslintrc.cjs
  .eslintrc.cjs
Due: none

test4
  .github/workflows/code-quality.yml
Due: none

test555
  .github/workflows/code-quality.yml
Due: none

build pass
  .github/workflows/code-quality.yml
Due: none

add Dockerfile
  Dockerfile
Due: none

change App.jsx
  src/App.jsx
Due: prettier --write, eslint --fix, npm test -- --findRelatedTests --passWithNoTests

change app
  src/App.jsx
Due: prettier --write, eslint --fix, npm test -- --findRelatedTests --passWithNoTests

update dockerfile
  Dockerfile
  package-lock.json
Due: prettier --write

add footer
  profile.png
  src/App.jsx
Due: prettier --write, eslint --fix, npm test -- --findRelatedTests --passWithNoTests

update readme
  Dockerfile
  README.md
Due: prettier --write

add story book
  src/App.jsx
Due: prettier --write, eslint --fix, npm test -- --findRelatedTests --passWithNoTests
